body {font-family: Verdana, sans-serif;}
.month {
  padding: 15px 20px;
  background: #359885;
}
.month ul {
  margin: 0;
  padding: 0;
  width:49%;
  display: inline-block;
  position:relative;
}
.month ul:nth-child(2){
  text-align:right;
}
.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  display:inline-block;
  list-style-type: none;
}
#cal-month-year{
  margin: 5px;
  font-size:25px;
  font-weight:bold;
}
table{
  width:100%;
}
#cal-dates>table>tr>td{
  padding: 30px 0px;
  background: #eee;
  width:14%;
  text-align:center;
  position:relative;
}
#cal-dates>table>tr:nth-child(1) td{
  background:#ddd;
  color:#333;
}
.event{
  
  position:relative;
  width: 100%;
  background: #158a73;
  color: #fff;
  border: 3px solid #eee;
  font-size: 14px;
  margin-bottom:5px;

}
/* .event span{
  padding:2px;
  background: #158a73;
  width:100%;
} */
.out-span{
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  margin-bottom:2px;
}
@media(max-width:768px){
  .month ul {
    width:100%;
  }
  .month ul:nth-child(2){
  text-align:left;
}

  }