body {font-family: Verdana, sans-serif;}
.month {
  padding: 15px 20px;
  background: #359885;
  text-align: center;
}
.month ul {
  margin: 0;
  padding: 0;
}
.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  list-style-type: none;
}
.month .prev {
  float: left;
  padding-top: 10px;
}
.month .next {
  float: right;
  padding-top: 10px;
}
#cal-month-year{
  margin: 5px;
  font-size:25px;
  font-weight:bold;
}
table{
  width:100%;
}
#cal-dates>table>tr>td{
  padding: 30px 0px;
  background: #eee;
  width:14%;
  text-align:center;
  position:relative;
}
#cal-dates>table>tr:nth-child(1) td{
  background:#ddd;
  color:#333;
}
.event{
  top: 0;
  left: 0;
  position:absolute;
  width: 100%;
  background: #158a73;
  color: #fff;
  padding: 2px;
  font-size: 14px;
}
.out-span{
  position: relative;
  top: 0;
  width: 100%;
  left: 0;
  margin-bottom:2px;
}